<html>

<style>
  .maint{
    width: 900px;
    heigh: 400px;
    background: rgba(0,0,0,0.1);
    padding: 40px;
    margin: 0 auto;
    margin-top: 140px;
    text-align: center;
    font-family:    Sans-Serif;


  }

</style>
<body>
<div class="maint">

  <p1 style="font-family:sans; font-size: 30px; color: black;">
    <strong> <u>General Information:</u>
    </strong>  </p1>
  <p1 style="font-family:sans; font-size: 20px; color: black;">
    <br><br>
    <li>Studying Electrical Engineering at McMaster</li>
    <li>Enrolled in the Co-Op Program</li>

  </p1>

</div>

</body>

</html>