<html>
<style>
  p.small {
    line-height: 6;
    font-size:13px
  }
</style>
<body>
<div class="prof-box">


<li>Studying Electrical Engineering at McMaster University</li>
  <li>Enrolled in the Co-op Program</li>

</div>

</body>

</html>