<html>

<style>
p.small {
  text-align: center;

  line-height: 2;
  font-size:13px
}
</style>
<body>
<div class="prof-box">




<div class="info">
  <p1>
    <li> My Email:</li>



  </p1>
</div>
  <p class="small">
  akram_eldamaty@hotmail.com
  </p>
</div>

</body>

</html>