<html>

<style>
p.small {
  text-align: center;

  line-height: 2;
  font-size:13px
}

.maint{
  width: 400px;
  heigh: 400px;
  background: rgba(0,0,0,0);
  padding: 40px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  font-family:    Sans-Serif;


}

</style>
<body>
<div class="maint">

  <p1 style="font-family:sans; font-size: 30px; color: black;">
  <strong> <u>My Email:</u>
  </strong>  </p1>
<p2 style="font-family:sans; font-size: 20px; color: black;">
 <br><br> akram_eldamaty@hotmail.com
</p2>

</div>

</body>

</html>