<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">



  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <style>
    body {
      padding-top: 54px;
    }


  </style>

</head>

<body>





</body>




<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<body>
<div class="prof-box">

  <img src="/proff.jpg" alt="..." class="img-thumbnail">
<h1>Akram Eldamaty </h1>


  <input type="button" class="btn btn-info" value="Akram's Resume (PDF)" onclick=" relocate_home()">

  <script>
      function relocate_home()
      {
          location.href = "/AkramResume.pdf";
      }

      </script>
<div class="social-links">
  <a href="https://www.linkedin.com/in/akrameldamaty" targt="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
  <a href="https://github.com/AkramEld" targt="_blank"> <i class="fa fa-github" aria-hidden="true"></i></a>

</div>
</div>

</body>

</html>